{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<center>
<h1> Number to German </h1>
<br/>
<form action="" method="GET">
    {% csrf_token %}
        {{ form.as_p }}
    </form>
    <input type="submit" id="btnTest"class="btn btn-primary btn-lg" value="Konvertieren">
    <br/>
    <br/>
    <div id="loading" style="display:none">
        <img src= "{% static "images/loading_spinner.gif" %}"/>
    </div>
        <h2 id="german-number"> {{ number }} </h2>
</center>
{% endblock %}

